<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Index</title>
</head>
<body>
    <h1>All the books you want to read...</h1>
    <div>
        <% books.forEach(book => { %>
        <a href="/books/<%= book._id %>"><img src="<%= book.image %>"></a>
        <% }) %>
        <!--  href will make each image a link to the individual book-->
    </div>
    
</body>
</html>