<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home Page</title>
</head>
<body>
    
    <a href='/books'>Browse Books</a>
    <a href='books/new'>Add a Book</a>
    <h1>Bookworm's Bucket List</h1>
    <p>Welcome friends to the Bookworm's Bucket List! This app will help you to keep track of all the books you want to read and have read. You can make edits to any book you added to the bucket list. Like checking it off that the book was read. Not interested in the book anymore? Not an issue! You can just take that book off of your list with our niffty deletion button. We hope you enjoy the app! </p>
</body>
</html>