<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Bookworm's</title>
</head>
<body>
    <a href='/books'>Browse Books</a>
    <a href='books/new'>Add a Book</a>
    <h1>Welcome all Bookworms!</h1>
    <p>This app will help you to keep track of all the books you want to read or have read.</p>
</body>
</html>